<div>
    <h5>~ Add User Form ~</h5>
    <form [formGroup]="formGp" (ngSubmit)="addUser()" novalidate autocomplete="off">
        <input type="hidden" formControlName="id" name="id">
        <mat-form-field>
            <input type="text" formControlName="firstname" name="firstname" matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="lastname" name="lastname" matInput placeholder="Last Name">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="username" name="username" matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="city" name="city" matInput placeholder="City">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="department" name="department" matInput placeholder="Department">
        </mat-form-field>
        <button type="submit" class="btn btn-primary" [disabled]="formGp.invalid">Add</button>
    </form>
</div>
