<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img src="../assets/b.png" aria-label="logo" alt="logo" style="width:40px;">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="howitworks" routerLinkActive="active">How it works?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="userlist" routerLinkActive="active">User List</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>