<h2 mat-dialog-title>Add User Form</h2>
<mat-dialog-content>
    <form [formGroup]="formGp" (ngSubmit)="addUser()" novalidate autocomplete="off">
        <input type="hidden" formControlName="id" name="id">
        <mat-form-field>
            <input type="text" formControlName="firstname" name="firstname" matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="lastname" name="lastname" matInput placeholder="Last Name">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="username" name="username" matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="city" name="city" matInput placeholder="City">
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="department" name="department" matInput placeholder="Department">
        </mat-form-field>
        <!-- <mat-dialog-actions> --><div>
            <button type="submit" class="btn btn-primary" [disabled]="formGp.invalid">Add</button>
            <button type="button" mat-raised-button class="float-right" color="accent" (click)="close()">Close</button>
        <!-- </mat-dialog-actions> --></div>
    </form>
</mat-dialog-content>