<div class="row">
    <!-- <div class="col-lg-9 col-md-9 col-sm-12" id="table-section"> -->
            <div class="col-12" id="table-section">
        <!-- <button type="button" class="btn btn-primary btn-sm float-right">Add User</button> -->
        <div class="d-flex justify-content-between align-items-center">
            <mat-form-field>
                <input type="text" matInput [(ngModel)]="searchText" (keyup)="search($event.target.value)" placeholder="Search">
            </mat-form-field>
            <button type="button" (click)="addUserDialog()" mat-raised-button color="primary">Add User</button>
        </div>
        <table mat-table matSort matSortActive="lastname" matSortDirection="asc" [dataSource]="dataSource">
            <!-- columns (container) -->
            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
                <td mat-cell *matCellDef="let user">{{user.firstname}}</td>
            </ng-container>
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
                <td mat-cell *matCellDef="let user">{{user.lastname}}</td>
            </ng-container>
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
                <td mat-cell *matCellDef="let user">{{user.username}}</td>
            </ng-container>
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
                <td mat-cell *matCellDef="let user">{{user.city}}</td>
            </ng-container>
            <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                <td mat-cell *matCellDef="let user">{{user.department}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user"><button class="btn btn-warning btn-sm" (click)="editEntry(user)">Edit</button></td>
            </ng-container> -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user"><button class="btn btn-danger btn-sm" (click)="deleteEntry(user)">Delete</button></td>
            </ng-container>    

            <!-- rows (which will iterate and set the data of columns and rows) -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let data;columns:displayedColumns"></tr>
        </table>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
    </div>
    <!-- <div class="col-lg-3 col-md-3 col-sm-12" id="form-section">
        <app-add-user (tableData)="localData($event)"></app-add-user>
    </div> -->
</div>
