/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

nav{
    margin-bottom: 15px;
}
.container, .container-fluid{
    margin-bottom: 15px;
    .row{
        margin-bottom: 10px;
        #table-section{
            border-right: 1px solid #00000030;
        }
        #form-section{    
            form{
                mat-form-field{
                    width: 100%;
                }
            }
        }
    }
}
app-add-user-dialog{
    .mat-dialog-content{
        //overflow: unset;
        mat-form-field{
            width: 100%;
        }
        mat-dialog-actions{
            justify-content: space-between;
        }
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table{width: 100%;}
