/* You can add global styles to this file, and also import other style files */
@import url(/home/bhumik/Desktop/myProject2019/bhumik2019/Angular8/userData/node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(/home/bhumik/Desktop/myProject2019/bhumik2019/Angular8/userData/node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css);
nav {
  margin-bottom: 15px;
}

.container, .container-fluid {
  margin-bottom: 15px;
}

.container .row, .container-fluid .row {
  margin-bottom: 10px;
}

.container .row #table-section, .container-fluid .row #table-section {
  border-right: 1px solid #00000030;
}

.container .row #form-section form mat-form-field, .container-fluid .row #form-section form mat-form-field {
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */